/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

 @import 'font-awesome';
 @import "bootstrap";
 @import 'home';

*{
  box-sizing: border-box;
  list-style: none;
}
body{
   height:100%;
   width: 100%;
}
.wrap{
  overflow: hidden;
}
.bg-black{
  background-color: rgba(49, 48, 47, 0.65);
}


.home-intro{
  position: absolute;
  color:white;
  position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   h2{
   font-size:40px;
 }
  h1{
    font-size:80px;
  }
}
.posi-fix{
  position: fixed;
  z-index: 100;
  width:100%;
}

#home{
  height:500px;
  background-color: #4d82ff;
  position: relative;
  z-index: 1;
  width: 100%;
}
#profile{
  background-color: rgba(255, 10, 70, 0.8);
  height: 100%;
    h1{
      color:white;
      text-align: center;
      text-transform: uppercase;
      padding-top: 50px;
      text-decoration: underline;
      text-decoration-color: white;
    }

}
.profile-main{
display: flex;
}

.profile-left{
  display: flex;
}

.profile-right{
  float:right;
  width:50%;
}

.profile-img{
  padding: 10px 0 10px 0;
  margin: 40px;
   img{
     position: relative;

     border-radius: 30px
   }
}
.profile-left{
  width:50%;
}
.profile-img ,.profile-introduce{
  width:50%;
}
.profile-introduce{
  color:white;
  padding-top:40px;

  h2{
    font-family: 'Anton', sans-serif;
    font-size:20px;
    padding-bottom:5px;
  }
  h4{
    font-family: 'Anton', sans-serif;
    padding-bottom:10px;
  }
}
.profile-right{
  padding-top:40px;
  padding-left:40px;
  padding-right:40px;
  color:white;
  border-radius: 0 10px 0 0;

  .profile-frame{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 40, 60, 0.5);
  }
  label{
    padding-right:30px;
  }
  li{
    margin-bottom:35px;
    padding-bottom:5px;
    border-bottom: 1px solid rgba(20,0,0,0.2);
  }
}

#skill{
  display:flex;
  width: 100%;

}
.heading-skills{
  text-transform: uppercase;
  border-radius: 30px;
  border: 1px solid rgba(255, 10, 70, 0.8);
    h3{
      font-weight: bold;
      font-family: 'Anton', sans-serif;
      letter-spacing: 10px
    }
}
.heading-skills2{
  text-transform: uppercase;
  border-radius: 30px;
  border: 1px solid rgba(56, 0, 0, 0.27);
    h3{
      font-weight: bold;
      font-family: 'Anton', sans-serif;
      letter-spacing: 10px
    }
}
.bg-color-left{
  background-color: white;
  padding:0;
    .bg-color-grey{
    background-color:rgba(211, 211, 211,0.6);
  }
    h2{
      font-family: 'Anton', sans-serif;
      font-size:40px;
      padding-top:30px;
    }
    h4{
      font-size:20px;
      font-family: 'Anton', sans-serif;
      letter-spacing: 10px;
    }
}
.margin-top-50{
  margin-top: 50px;
}
.bg-color-right{
  background-color: black;
  color: white;
  width:100%;

}
.bg-grey{
  background-color: grey;
}
.bg-orange{
  background-color: orange;
}
.float-left{
  float:left;
}
.interest-box{
  padding:10px 0;
}
.interest-icon{
  font-size: 30px;
}



.display-none{
  display: none;
}
//margin
.margin-120{
  margin-top:120px;
}
#photo{
  background-color: #ffe44d;
  h1{
    text-transform: uppercase;
    padding-top: 30px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: black;
  }
}
.photo-main{

}
.photo-left{
  display: flex;
  padding: 70px 0 0 0;
  .photo-me{
      width: 50%;
  }
  .photo-cooking{
    width: 50%;
  }
}
.slick-dots{
  position: static!important;
}
.slick-dotted.slick-slider{
  margin-bottom:10px!important;
  margin-top:10px;
}
.photo-right{
  display: flex;

  .drawing{
    width: 50%;
  }
  .photo-me2{
    width: 50%;
  }
}
.slick-next, .slick-arrow,.slick-prev{
  display: none!important;
}
.photo-size{
  height:250px;
  margin: auto;
  border-radius: 10px;
  border: 10px solid rgba(163, 139, 0, 0.85);
}
.photo-size1{
  height:300px;
  margin: auto;
  border-radius: 10px;
  border: 10px solid rgba(163, 139, 0, 0.85);
}
#contact{
  background: linear-gradient(45deg,rgba(28, 13, 50, 0.7),rgba(28, 28, 28, 0.6));
  background-size: cover;
  height:480px;;
  position: relative;
}

.contact-form{
  background: rgba(0, 0, 0, 0.8);
  height: 350px;
  padding: 20px 40px;
  width: 760px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color:white;
  .table{
    color:inherit;
  }
}
.bg-copyright{
  background-color: rgba(0, 0, 0, 0.6);
}
